<div class="container">
    <footer class="row row-cols-4    py-5 my-5 border-top">
        <div class="col">
           <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img class="logo" src="/assets/logo.png" alt=""> </p>
        </div>
      <div class="col">
        <h5>Temas de interés</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">PLADECO 2018-2024</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Estados Financieros 2020</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cuenta Pública 2020</a></li>
          
        </ul>
      </div>
  
      <div class="col">
        <h5>Temas de interés</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Avaluos Agrícolas y otros 2020</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ordenanzas Municipales  </a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Desarrollo Económico Local</a></li>
    
        </ul>
      </div>
  
      <div class="col2">
        <ul class="nav flex-column">
          <h6>&nbsp;&nbsp;&nbsp;&nbsp;Dirección</h6>
          <li class="nav-item mb-2 text-muted"> &nbsp;&nbsp;&nbsp;&nbsp;Calle Arturo Prat 202</li>
          <h6> &nbsp;&nbsp;&nbsp;&nbsp;Teléfono</h6>
          <li class="nav-item mb-2 text-muted"> &nbsp;&nbsp;&nbsp;&nbsp;(42) 256 1419</li>
          
        </ul>
      </div>


    </footer>
  </div>
