<br>
<div >
    <div class="card shadow p-1 bg-white">
        <div class="row">
            <div class=" col-3">
                <div class="fecha">
                    <h2 align="center">15 </h2>
                    <h6 align="center">Julio</h6>
                </div>
    
            </div>
            <div class="col-9">
                <p  class="texto">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                </p>
            </div>
        </div>
    
    </div>

<div class="card shadow p-1 bg-white">
    <div class="row">
        <div class=" col-3">
            <div class="fecha">
                <h2 align="center">21 </h2>
                <h6 align="center">Julio</h6>
            </div>

        </div>
        <div class="col-9">
            <p  class="texto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
    </div>

</div>

<div class="card shadow p-1 bg-white">
    <div class="row">
        <div class=" col-3">
            <div class="fecha">
                <h2 align="center">26 </h2>
                <h6 align="center">Julio</h6>
            </div>

        </div>
        <div class="col-9">
            <p  class="texto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
    </div>

</div>
<div class="card shadow p-1 bg-white">
    <div class="row">
        <div class=" col-3">
            <div class="fecha">
                <h2 align="center">09 </h2>
                <h6 align="center">Agosto</h6>
            </div>

        </div>
        <div class="col-9">
            <p  class="texto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
    </div>

</div>
<div class="card shadow p-1 bg-white">
    <div class="row">
        <div class=" col-3">
            <div class="fecha">
                <h2 align="center">12 </h2>
                <h6 align="center">Agosto</h6>
            </div>

        </div>
        <div class="col-9">
            <p  class="texto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
    </div>

</div>

</div>