<br>
<div class="container" style="background-color: rgb(241 241 241);">


    <h4>Teléfonos Municipalidad de San Nicolás</h4>

    <div class="row justify-content-center">
        <div class="row col-md-11 justify-content-center">
            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4"  id="oficina">
                        Oficina de Partes
                    </div>
                    <div class="col-md-4"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-256 1416
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4"  id="oficina">
                        Departamento Social
                    </div>
                    <div class="col-md-4"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-256 1443
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4"  id="oficina">
                        Departamento de Obras Municipales
                    </div>
                    <div class="col-md-4"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-256 1419
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<br>

<div class="container" style="background-color: rgb(241 241 241);">


    <h4>Teléfonos Departamento de Salud</h4>

    <div class="row justify-content-center">
        <div class="row col-md-11 justify-content-center">
            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4"  id="oficina">
                        Departamento de Salud
                    </div>
                    <div class="col-md-4"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-256 1414
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container" style="background-color: rgb(241 241 241);">


    <h4>Teléfonos Departamento de Educación</h4>

    <div class="row justify-content-center">
        <div class="row col-md-11 justify-content-center">
            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4"  id="oficina">
                        Central
                    </div>
                    <div class="col-md-4"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-283 6110
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4"  id="oficina">
                        Central
                    </div>
                    <div class="col-md-4"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-283 6112
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4"  id="oficina">
                        Central
                    </div>
                    <div class="col-md-4"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-283 6113
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-3"  id="oficina">
                        Gladys Yañez
                    </div>
                    <div class="col-md-4"  id="oficina">
                        Administrativa JUNJI
                    </div>
                    <div class="col-md-3"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-283 6114
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3"  id="oficina">
                        María Clara Muñoz Badilla
                    </div>
                    <div class="col-md-4"  id="oficina">
                        Encargada Remuneraciones
                    </div>
                    <div class="col-md-3"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-283 6115
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3"  id="oficina">
                        Patricio Gasset
                    </div>
                    <div class="col-md-4"  id="oficina">
                        Jefe Finanzas
                    </div>
                    <div class="col-md-3"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-283 6116
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3"  id="oficina">
                        Jovita Llanos
                    </div>
                    <div class="col-md-4"  id="oficina">
                        Secretaria Finanzas
                    </div>
                    <div class="col-md-3"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-283 6117
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3"  id="oficina">
                        Fabian Mejías
                    </div>
                    <div class="col-md-4"  id="oficina">
                        Coordinador Extraescolar
                    </div>
                    <div class="col-md-3"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-283 6118
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3"  id="oficina">
                        Oscar Lagos Bizama
                    </div>
                    <div class="col-md-4"  id="oficina">
                        Encargado SEP y UTP
                    </div>
                    <div class="col-md-3"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-283 6119
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3"  id="oficina">
                        Luis Lepe Jeldres
                    </div>
                    <div class="col-md-4"  id="oficina">
                        Director DAEM
                    </div>
                    <div class="col-md-3"   id="oficina" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 42-283 6143
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


