  <!-- inline-block; width: 90%; -->
  <!-- Header -->
  <header class="p-3text-white col-md-12" style="background-color: #251D3A">
    <div class="align-items-center col-md-12" style="display: flex;">
      <img src="/assets/logo.png" alt="foto" id="logo">
      <div>
        <h1 class="text-start"
          style="color: white;  width: 400px; font-family: 'Oswald', sans-serif;">
          Ilustre Municipalidad de San Nicolás</h1>
      </div>
      <div class="text-end col-md 4" style="position: flex;  margin-right: 40px;">
        <div class="btn-group" style="margin-right: 10px; align-items: center;">
          <h2 style="color: white; margin-left: 10px;  font-family: 'Oswald', sans-serif;">#SanNicolásParaTodos</h2>
          <a href="https://www.facebook.com/profile.php?id=100064317236274" target="_blank"class="fa fa-facebook"></a>
          <a href="https://twitter.com/munisannicolas?fbclid=IwAR004X_LtE1vHhhc26jVRT2Z8dL7i3JSZIgW4zWpvgZlVAmgprpvxn3_b6Q" target="_blank" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com/munisannicolas/" target="_blank" class="fa fa-instagram"></a>

        </div>



        <button type="button" class="btn btn-outline-light me-2">Iniciar Sesión</button>
      </div>
    </div>
  </header>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg" style="background-color: #E04D01;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              TRAMITES Y SERVICIOS
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              COMUNA
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              MUNICIPALIDAD
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              CONTACTO
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>