  <!-- inline-block; width: 90%; -->
  <!-- Header -->
  <header class="p-3text-white col-md-12" style="background-color: #251D3A">
    <div class="align-items-center col-md-12" style="display: flex;">
      <a href="home">
      <img src="/assets/logo.png" alt="foto" id="logo">
      </a>
      <div>
        <h1 class="text-start"
          style="color: white;  width: 400px; font-family: 'Oswald', sans-serif;">
          Ilustre Municipalidad de San Nicolás</h1>
      </div>
      <div class="text-end col-md 4" style="position: flex;  margin-right: 40px;">
        <div class="btn-group" style="margin-right: 10px; align-items: center;">
          <h2 style="color: white; margin-left: 10px;  font-family: 'Oswald', sans-serif;">#SanNicolásParaTodos</h2>
          <a href="https://www.facebook.com/profile.php?id=100064317236274" target="blank" class="fa fa-facebook"></a>
          <a href="https://twitter.com/munisannicolas?fbclid=IwAR004X_LtE1vHhhc26jVRT2Z8dL7i3JSZIgW4zWpvgZlVAmgprpvxn3_b6Q" target="blank" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com/munisannicolas/" target="blank" class="fa fa-instagram"></a>

        </div>

      </div>
    </div>
  </header>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg" style="background-color: #E04D01;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              TRAMITES Y SERVICIOS
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="https://www.sem.gob.cl/pcirc/index.php?pago_id=38&inst_id=69140800&setiframe=0">Permiso de Circulación 2022</a></li>
              <li><a class="dropdown-item" href="https://www.portaltransparencia.cl/PortalPdT/ingreso-sai-v2?idOrg=713" target="blank">Solicitar Información de Transparencia</a></li>
              <li><a class="dropdown-item" href="http://www.academia.subdere.gov.cl" target="blank">Academia capacitación SUBDERE</a></li>
              <li><a class="dropdown-item" href="https://domenlinea.minvu.cl" target="blank">DOM En Línea</a></li>


            </ul>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              COMUNA
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSeyK-9XhVd4oNMrI5YSrwcszYj9jMuY0Vc8R6ERjgxKH48dEg/viewform">Denuncia Ambiental</a></li>
              <li><a class="dropdown-item" href="https://www.sem.gob.cl/pago/validacion/"  target="blank">Portal de Servicios Municipales</a></li>
              <li><a class="dropdown-item" routerLink="/juzgado">Juzgado de Policia Local</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              MUNICIPALIDAD
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="/alcalde">Alcalde</a></li>
              <li><a class="dropdown-item" href="#">Concejo Municipal</a></li>
              <li><a class="dropdown-item" href="https://www.portaltransparencia.cl/PortalPdT/directorio-de-organismos-regulados/?org=MU295" target="blank">Municipio Transparente</a></li>
              <li><a class="dropdown-item" href="https://www.sem.gob.cl/pcirc/index.php?pago_id=38&inst_id=69140800&setiframe=0" target="blank">Ley del Lobby</a></li>
              <li><a class="dropdown-item" href="https://www.municipalidadsannicolas.cl/tmp/DA2021-0867.pdf" target="blank">Comité Paritario de Higiene y Seguridad</a></li>

            </ul>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              CONTACTO
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/contacto">Teléfonos de Contacto</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
