<body>
    <div>
        <br>
      <h3 class="titulo"><b><br>JUZGADO DE POLICÍA LOCAL</b></h3>  
        
        <div class="container-fluid"></div>
        <div class="row flex-sm-row-reverse"> 
         <div class="col-1"></div> 
        
          
          
          <div class="col-md-3">
            <br><br>
          <div class="card"> 
          <img src="https://lh3.googleusercontent.com/p/AF1QipOew9FHuhjp6PSqv5pZIFfHKhTzmtKuC390KDbV=s1600-w400" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>Atención a público:</b></h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Lunes a Viernes: 08:30 a 13:00 y de 14:00 a 16:00</li>
            <li class="list-group-item telefono">Teléfono: +569 7698 0982 o +569 8469 6368</li>
            <li class="list-group-item">Correo:<a href="jplsannicolas@gmail.com">jplsannicolas@gmail.com</a></li>
          </ul>
          </div>
          </div>
        </div>
        <div class="col-md-7">
          <br><br>




          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <p><b>&gt; EXHORTOS</b></p>
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p>Es la tramitación que se le da a las infracciones de tránsito cometidas por conductores de vehículos, en "lugares o caminos alejados de la residencia del denunciado. Se tramitarán por medio de un Exhorto, Tramitado ante el J. P. L. de Turno que corresponda al domicilio del infractor.</p>
        
                  <p><strong>Requisitos para la tramitación de Exhortos</strong></p>
                  <li>Vivir en la comuna. (Deberá acreditarlo).</li>
                  <li>Cédula de identidad.</li>
                  <li>Sólo con boleta de citación vigente, según art. 5º de la ley  nº 18.287.</li>
                  <li>El pago de la multa se realiza sólo con vale vista a nombre de la tesorería Municipal de la Comuna requerida.</li>
                  <li>Se otorga permiso provisorio para conducir, si procede, por 30 días, y sólo será renovado si la tramitación de la Solicitud del exhorto no esté completa.</li>
                  <li>El trámite debe ser realizado sólo por el infractor.</li></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  <p><b>&gt; SECCIÓN MESÓN DE ATENCIÓN DE PÚBLICO</b></p>                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p>La sección de atención de público corresponde a la primera instancia en que el usuario del Tribunal puede acudir para obtener información respecto de valores de multas, procedimiento de recuperación de vehículos, exhortos, información de causas diligenciadas en dicho Juzgados, entre otras.</p>
    
                  <li><strong>Valor de multa: </strong>para obtener el valor de una determinada multa, el usuario deberá presentar su Hoja de Vida del conductor, la que obtiene en el Registro Civil a su costa.</li>
                  <li><strong>Recuperación de vehículos:</strong>  el usuario deberá presentar al Tribunal un escrito solicitando la recuperación del vehículo que se encuentra retenido en corralones municipales, adjuntando el Certificado de Dominio Vigentes del mismo y fotocopia de carnét de identidad del propietario legalmente inscrito.</li>
                  <li><strong>Exhortos:</strong>  para solicitar un exhorto deberá el usuario presentar su solicitud entre las 8:30 y las 10:00 horas, debiendo hacer entrega de la boleta de infracción para que ésta sea remitida al Tribunal exhortado, haciéndosele entrega de un permiso provisorio por el término de 30 días, el cual lo habilita para la conducción dentro del territorio del país.</li>
                  <li><strong>Información de causas:</strong>  desde el año 2005 el Tribunal posee una base de datos de todas la causas que alguna vez han ingresado al mismo, por lo que es posible obtener información de una determinada causa solicitándola presentando nombre completo de la persona, N° de Cédula de Identidad el número del parte.</li>
                   <br></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  <p><strong>&gt; INFRACCIONES DE TRÁNSITO</strong></p>                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> <p><strong><ins>Ley de Tránsito N° 18.290</ins></strong></p>
                  <p>En la Ley de Tránsito 18.290 existen infracciones denunciadas por:</p>
                  <li>Carabineros</li>
                  <li>Inspectores Municipales</li>
                  <li>Inspectores del Ministerio de Transporte y Telecomunicaciones</li>
                  <li>Denuncias por Particulares</li>
                  <li>Registro Civil</li>
             
                  <p><strong><ins>Esta Ley califica  las infracciones de la siguiente manera:</ins></strong></p>
                  <li><strong>Gravísimas:</strong> sancionadas con una multa equivalente a 1.5 a 3 UTM</li>
                  <li><strong>Graves:</strong> sancionadas con una multa equivalente a 1 a 1.5 UTM</li>
                  <li><strong>Menos Graves:</strong> sancionadas con una multa equivalente a 0.5 a 1 UTM</li>
                  <li><strong>Infracciones Leves:</strong> todas las  que no encuentren indicadas en las tres calificaciones anteriores,  las cuales serán sancionadas con una multa equivalente a 0.2 a 0.5 UTM. Los reincidentes de infracciones gravísimas o graves cometidas en los últimos tres y dos años respectivamente serán sancionados con el doble de la multa establecida, la que se elevara al Triple en caso de incurrirse nuevamente en dicha conducta, artículo 204.</li>
                 <br>
                 <p><strong><ins>Descuento legar del 25%</ins></strong></p>
                 <li><strong>Las infracciones Graves</strong> podrán acogerse a un 25% de descuento, dentro del quinto día de haberse cursado la infracción, debiendo el infractor presentar al Tribunal su Hoja de Vida de conductor, en la que no deberá registrar infracciones graves dentro de los dos últimos años.</li>
                 <li><strong>Las Infracciones Menos Graves</strong> podrán acogerse a este descuento sin presentar la Hoja de Vida de conductor.</li>
                 <li><strong>Las Infracciones Gravísimas</strong> no podrán acogerse a este descuento por tener suspensión de licencia de conducir.</li>
                 <br>
                 <p><strong><ins>LA MULTA DEBE SER PAGADA DENTRO DE LOS 5 PRIMEROS DÍAS HÁBILES (incluyendo el sábado) A CONTAR DE LA FECHA EN QUE LA INFRACCIÓN FUE CURSADA (inclusive)</ins></strong></p>
                 <br>
                 <p><strong><ins>Retiro de Vehículos de la circulación:</ins></strong></p>
                 <p>Estos pueden ser retirados de circulación por Carabineros e Inspectores Fiscales, cuando no se encuentren en las condiciones técnicas necesarias para circular o  posean su documentación vencida; también podrán ser retirados los vehículos que presten servicio de transporte de pasajeros o de carga, y que no se encuentren registrados en el Ministerio de Transporte Público.  En caso de retiro deberán ser remitidos a los corralones municipales.</p>
                 <br>
                 <p><strong><ins>Procedimientos para recuperar Vehículos:</ins></strong></p>
                 <p>Una vez cancelada la multa impuesta, el vehículo podrá ser retirado por el propietario legalmente registrado en el Registro Civil, solicitándolo por escrito al Tribunal, adjuntando el Certificado de Dominio Vigente  del móvil y fotocopia de su cédula de Identidad.  En caso de que el vehículo se encuentre inscrito a nombre de una sociedad, deberá acreditarse la calidad del representante legal de la misma.</p>
                 <br>
                 <p><strong><ins>Infracciones Por Escrito o Empadronadas:</ins></strong></p>
                 <p>Aquellas que se cursan cuando el infractor no se encuentra presente o el vehículo se encuentra en movimiento, por lo que son dejadas en los parabrisas de los vehículos, debiendo el conductor presentarse al Tribunal con dicha boleta el día de su citación.</p>
                 <p>En caso de no presentarse a la citación se despachará citación al propietario que aparezca registrado en el Registro Civil.</p>
                 <p>Si el infractor no comparece se aplicará la multa  en su rebeldía, notificándosele luego la sentencia al domicilio que tenga registrado; se concederá un lapso de treinta días para el pago, y en caso de no cancelar,  el Tribunal  informará al Registro de Multas No Pagas (www.srcei.cl).  En este registro es posible verificar si una patente determinada tiene o no tiene multas impagas vigentes, en caso afirmativo, éstas deberán ser canceladas simultáneamente la multa junto con el permiso de circulación, solo así podrá ser éste renovado.  Posteriormente las anotaciones podrás ser eliminadas o modificadas mediante resolución del Tribunal.</p>
                 <br>
                 <p><strong><ins>Acumulación de Infracciones denunciadas por el Registro Civil: </ins></strong></p>
                 <p>La sanción por acumulación de infracciones a la Ley de Tránsito por registrar dos infracciones o contravenciones gravísimas cometidas en un plazo de 12 meses es de suspensión de la licencia de conducir de 45 a 90 días; por registrar dos infracciones o contravenciones graves dentro del plazo de 12 meses es de suspensión de la licencia de conducir de 5 a 45 días.</p>
                 <p>Una vez ingresada la denuncia por acumulación al Tribunal, se cita al infractor bajo apercibimiento de arresto,  debiendo comparecer con su respetiva licencia de conducir; se le otorgará un permiso provisorio por un lapso de treinta días y se le retendrá la licencia mientras se dicta la sentencia correspondiente.</p>
                 <br>
                 <p><strong><ins>Denegación de Licencia de Conducir:</ins></strong></p>
                 <p>Según el Art. 15 Inciso Segundo,  el Director del Departamento de Tránsito y Transporte Público Municipal deberá rechazar las solicitudes de licencia de conducir de postulantes que no cumplan con los requisitos establecidos en la ley; en caso de tratarse de solicitudes rechazadas para obtener licencia profesional, el rechazo deberá ser comunicado al Ministerio de Transporte y Telecomunicaciones .</p>
                 <p>El postulante afecto por el rechazo en razón de falta de idoneidad moral podrá reclamar  ante el Juez de Policía Local respectivo, dentro del los cinco días hábiles siguiente a la notificación de la resolución, para lo cual deberá presentar su solicitud por escrito copia de la resolución de rechazo, Hoja de Vida de conductor, Certificado de Antecedentes y Certificado de Cumplimiento de la condena en que se basa el  rechazo;  una vez ingresado el reclamo al Tribunal el Juez podrá confirmar la denegación u otorgar licencia de conducir.</p>
                 <br>
                 <p><strong><ins>Denuncias por no realizar transferencias de vehículos:</ins></strong></p>
                 <p>Deberán ser presentadas al Tribunal por escrito adjuntando copia del contrato de compraventa notarial y Certificado de Dominio Vigente del vehículo respectivo.</p>
                 <p>El Tribunal citará al denunciante a ratificar su denuncia y  citará al denunciado a fin de que tome conocimiento de ésta, otorgándole un plazo para que dé cumplimiento a lo dispuesto en los  Art. 14 de la Ley 18.287,  40 inc. 7 de la  Ley 18.290 y Art. 52 de la Ley 15.231 letra “B.</p>
                 <br></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  <p><strong>&gt; SECCION CHOQUES Y COLISIONES</strong></p>                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p><strong>Inicio:</strong> el proceso por accidente de tránsito, choque o colisión se inicia por intermedio de una denuncia personal o policial o por intermedio de una querella infraccional,  esta última patrocinada por un abogado habilitado para ello.</p>
                  <p><strong><ins>Primeros Trámites:</ins></strong></p>
                  <ol>
                    <li value="1">Comparecencia de las partes al Tribunal a fin de prestar declaración indagatoria.  Una vez radicado el procedimiento contravencional es posible iniciar la acción civil, para resarcirse de los daños materiales; si la cuantía no supera las 4 UTM podrá la parte comparecer personalmente, de lo contrario deberá hacerlo patrocinada por abogado habilitado para el ejercicio de la profesión.</li>
                    <li>Se solicita por oficio el o  los resultados de alcoholemias, si procediera.</li>
                    <li>Se fija fecha de comparendo de estilo de conciliación y prueba.</li>
                    <li>Se designa perito judicial para el avalúo de los daños materiales; Los honorarios del perito judicial son a costa de quien solicita el informe pericial,  si bien es cierto no es obligatorio pero si ante una eventual acción entablada debe realizarse obligatoriamente para acreditar los daños.</li>
                  </ol>
                  <br>
                  <p><strong><ins>Comparendo de estilo:</ins></strong></p>
                  <p>El comparendo de estilo es la etapa procesal en que las partes presentan sus medios de prueba legales y se realiza el llamado a conciliación.  Si se han iniciado acciones legales el Tribunal las acogerá a tramitación, debiendo la demanda civil ser notificada dentro de los plazos legales, esto es, hasta tres días antes de la celebración del comparendo, si pasados cuatro meses desde su presentación ésta no ha sido notificada, el Tribunal la tendrá por no presentada; la querella infraccional podrá notificarse en la misma audiencia.</p>
                  <li><strong>Medidas para mejor resolver:</strong> Con posterioridad a la audiencia de comparendo de estilo el Tribunal podrá decretar medidas para mejor resolver.</li>
                  <li><strong>Sentencia:</strong> Cumplidas todas diligencias del proceso la causa quedará en estado de fallo y el Juez deberá dictar sentencia, la cual deberá ser notificada legalmente a cada una de las partes.</li>
                  <li><strong>Apelación:</strong> La parte agraviada con la sentencia tendrá un plazo de 5 días para presentar reposición o  apelar a la sentencia, si procediere.  Si las partes dentro del plazo legal establecido no realizan sus descargos correspondientes y de acuerdo a lo que dispone la ley, el Tribunal hará cumplir la sentencia dictada en los autos en lo que se refiere a la parte infraccional.</li>
                  <br></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  <p><strong>&gt; SECCIÓN PROTECCIÓN AL CONSUMIDOR, LEY DE ALCOHOLES, ATROPELLOS Y VOLCAMIENTOS</strong></p>                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p><strong><ins>LEY 19.496 Protección a los Derechos del Consumidor</ins></strong></p>
                  <li>El proceso podrá iniciarse por denuncia, querella o demanda civil de indemnización de perjuicios. Ingresada la causa se realizan las primeras diligencias: citación del denunciante y del denunciado.  El primero deberá señalar claramente el día, hora, lugar y los participantes del hecho denunciado, señalar expresamente qué es lo que solicita y en contra de quien se dirigirá la acción; el segundo deberá declarar al tenor de la denuncia interpuesta en su contra y presentar su posición o la posición de la empresa a la que representa.</li>
                  <li>En el caso de que la denuncia sea presentada conjuntamente con una demanda o querella Infraccional, esta debe ser notificada al denunciado o representante legal de la empresa, en un plazo no menor a tres días previo a la celebración del comparendo de estilo. Dicha notificación es realizada por el Receptor del Tribunal, quien deberá cobrar sus honorarios a la parte denunciante y/o querellante y demandante civil.</li>
                  <li><strong>Comparendo de estilo:</strong> la audiencia de comparendo es de ratificación, conciliación y prueba, esto es, las partes deberán ratificar sus versiones y/o acciones; se realiza el llamado a conciliación, con el objeto de lograr un avenimiento y no proseguir  con el juicio;  se recibe la prueba presentada por las partes.</li>
                  <li><strong>Medidas para mejor resolver:</strong> Posterior a la audiencia de comparendo de estilo el Tribunal podrá decretar medidas para mejor resolver.</li>
                  <li><strong>Sentencia:</strong> Una vez recabados todos los antecedentes del proceso el juez tiene un plazo legal de 15 días para dictar sentencia, la que deberá ser notificada de forma legal a cada una de las partes, otorgándoles copia de la misma.</li>
                  <li><strong>Apelación:</strong> la parte agraviada con la sentencia tiene un  plazo de 5 días para deducir recurso de apelación ante la I. Corte de Apelaciones.</li>
                  <br>
                  <p><strong><ins>LEY DE ALCOHOLES 19.925</ins></strong></p>
                  <p><strong>Ingerir Licor y Ebriedad en la vía pública</strong></p>
                  <li>Una vez constatada la infracción el denunciado tiene la opción legal de cancelar 0,25 UTM en el mismo momento al funcionario policial; en caso contrario éste remite la denuncia al Tribunal.</li>
                  <li>Ingresada la denuncia el infractor tienen la misma opción anterior de pagar 0.25 UTM hasta la fecha de su citación al Tribunal.  Si no cancela y no concurre a la citación se le aplica la multa en rebeldía equivalente a 1 UTM o en su defecto en 5 días de reclusión nocturna.</li>
                  <li>Aplicada la multa en rebeldía se notifica al infractor personalmente o por cédula.</li>
                  <li>Desde la fecha de notificación de la sentencia existe un plazo legal de 5 días para:</li>
                  <ul>
                    <dd>1. Pagar la multa impuesta.</dd>
                    <dd>2. Presentarse a cumplir en reclusión nocturna</dd>
                    <dd>3. Presentar escrito de reconsideración, el que deberá ser fundado, solicitando rebaja de multa o plazo para su cancelación.</dd>
                  </ul>
                  <p>Transcurrido el plazo legal en rebeldía, se despacha orden de detención a través de Carabineros de Chile en contra del infractor; si no es habido por  éstos, se reitera la detención por la Policía de Investigaciones de Chile. Una vez detenido, éste deberá cancelar la multa, o ser ingresado al centro de cumplimiento penitenciario de Chillán a fin de cumplir la sentencia mediante reclusión nocturna.</p>
                  <br>
                  <p><strong><ins>ATROPELLOS, VOLCAMIENTOS Y ACCIDENTES DE TTO.</ins></strong></p>
                  <li><strong>Denuncia:</strong> Carabineros al tomar conocimiento del hecho deberá esperar el informe de lesiones del médico de turno del hospital local; si éstas son de carácter leve serán de competencia del Juzgado de Policía Local, debiendo quedar citadas las partes a comparecer un día y hora determinado a dicho Juzgado;   si las lesiones fueran de mediana gravedad, graves o gravísimas, serán de competencia del Ministerio Público.</li>
                  <li><strong>Declaración Indagatoria:</strong> Ingresada la denuncia se cita a las partes a audiencia indagatoria, en la cual prestarán declaración y quedarán citados a audiencia de comparendo de estilo, a la que deberán comparecer con todos sus medios probatorios. En su resolución, el Tribunal además podrá decretar las siguientes diligencias:</li>
                  <ul>
                    <dd>1- Orden para el médico legista al lesionado.</dd>
                    <dd>2- Requerir el resultado de los informes de alcoholemia.</dd>
                    <dd>3- Requerir la hoja de vida de conductor del denunciado</dd>
                    <dd>4- Citar a los testigos presenciales individualizados en el parte policial</dd>
                    <br>
                    <dd>En este procedimiento el Tribunal inicialmente conoce solamente de la parte infraccional, pudiendo las partes hacer uso de su derecho de contratar un abogado y realizar las acciones legales que estimen necesarias, costo que corre por la persona que inicia la acción civil.</dd>
                  </ul>
                  <li><strong>Comparendo de Estilo:</strong> en esta audiencia se realiza el llamado obligatorio a conciliación y se reciben las pruebas que las partes ofrezcan al tribunal.</li>
                  <li><strong>Medidas para mejor resolver:</strong> Posterior a la audiencia de comparendo de estilo el Tribunal podrá decretar medidas para mejor resolver.</li>
                  <li><strong>Sentencia:</strong> Una vez recabados todos los antecedentes del proceso el juez dictará sentencia, dentro del plazo de 15 días, sancionando a quien resulte responsable del accidente.</li></div>
              </div>
            </div>
          </div>
          </div>
          <div class="col-1"></div>

        </div>

      </div>
    
</body>
    